# Python cache and local environments
.venv/
.python/
.setup-build/
__pycache__/
.ipynb_checkpoints/
*.pyc
*.csv
*.jsonl
*.npy

# Large datasets
fma_small/*
fma_metadata/*
fma_medium/*

# Model artifacts and archives
*.pt
*.pkl
*.zip

# Notebook and OS noise
.DS_Store

!random_forest_tuning_results_medium.csv
!random_forest_tuning_results_small.csv
!random_forest_tuning_results_medium.jsonl
!random_forest_tuning_results_small.jsonl
